$default: (
  // 文本
  text-color: #000,

  // 背景色
  bg-color: #f3f3f3,

  // 边框
  border-color: #ccc,

  // 普通色
  primary-color: #00BFFF,
  // 警告色
  warning-color: #FFB90F,
  // 错误色
  error-color: #FF0000,
)