@import '~@/app.scss';

.win-root {
  position: absolute;
  overflow: visible;
  background-color: white;
  border: 1px solid #F4F4F4;
  

  // 菜单
  .win-menu {
    overflow: hidden;
    position: relative;
  }

  .win-menu-root {
    display: flex;
    justify-content: flex-end;

    @include themeify {
      color: themed('text-color');
      background-color: themed('bg-color');
    }

    .win-menu-menus {
      display: flex;
    }

    .win-menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      padding: 2px;
      cursor: pointer;
      &:hover {
        background-color: #ccc;
      }

      .icon {
        font-size: 12px;
      }
    }
  }

  .win-menu-title {
    height: 100%;
    line-height: 24px;
    font-size: 12px;
    @include center-x;

    @include themeify {
      color: themed('text-color');
    }
  }

  // 内容
  .win-body {
    overflow: auto;
  }

  // 缩放div
  .win-resize-left, .win-resize-top, .win-resize-bottom, .win-resize-right {
    position: absolute;
    opacity: 0;
  }

  .win-resize-top, .win-resize-bottom {
    cursor: n-resize;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .win-resize-left, .win-resize-right {
    cursor: w-resize;
    width: 2px;
    height: 100%;
    top: 0;
  }

  .win-resize-top {
  }
  .win-resize-bottom {
  }
  .win-resize-left {
  }
  .win-resize-right {
  }

  .win-resize-lt, .win-resize-lb, .win-resize-rt, .win-resize-rb {
    position: absolute;
    width: 8px;
    height: 8px;
    opacity: 0;
  }

  .win-resize-lt {
    cursor: nwse-resize;
  }
  .win-resize-lb {
    cursor: nesw-resize;
  }
  .win-resize-rt {
    cursor: nesw-resize;
  }
  .win-resize-rb {
    cursor: nwse-resize;
  }
}